<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}?b">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Header</title>
    </head>
    <body>
    <hr>
        <div class="topnav">
            <div class="home">
                <a class="active" href="">Home</a>
                <a href="/">Contact</a>
            </div>
            <div class="login-container">
                {% if session['logged_in'] %}
                    <!-- Logged in -->
                    <a href="/logout">Logout</a>
                {% else %}
                    <!-- Logged out -->
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                {% endif %}
            </div>
        </div>
    <hr>
    {% block content %}{% endblock %}
    </body>
</html>