<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="load_info(); first_load()">
{% extends "header.html" %}
{% block content %}
    <div class="col-25">
        <div class="container">
            <div class="row">
                <div class="col-50">
                    <h4>Cart
                    <span class="price" style="color:black">
                    <i class="fa fa-shopping-cart"></i>
                    <b>2</b>
                    </span>
                    </h4>
                    <form method="POST" action="/calculate">
                        <p>
                        <a href="#">Product 1</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <select name="select1" id="select1" onchange="click_modify()">
                                <option value="0">0</option>
                                <option value="10" selected>1</option>
                                <option value="20">2</option>
                                <option value="30">3</option>
                                <option value="40">4</option>
                                <option value="50">5</option>
                                <option value="60">6</option>
                                <option value="70">7</option>
                                <option value="80">8</option>
                                <option value="90">9</option>
                            </select>
                            <span class="price">
                                $<output name="num1" id="num1">{{ num1 }}</output>
                            </span>
                        </p>
                        <p>
                            <a href="#">Product 2</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <select name="select2" id="select2" onchange="click_modify()">
                                <option value="0">0</option>
                                <option value="20" selected>1</option>
                                <option value="40">2</option>
                                <option value="60">3</option>
                                <option value="80">4</option>
                                <option value="100">5</option>
                                <option value="120">6</option>
                                <option value="140">7</option>
                                <option value="160">8</option>
                                <option value="180">9</option>
                            </select>
                            <span class="price">
                                $<output name="num2" id="num2">{{ num2 }}</output>
                            </span>
                        </p>
                        <input type="submit" name="modify" id="modify" value="" onclick="store_info()"
                               style="background-color:transparent; border:0px transparent solid;">
                        <hr>
                        <p>
                            Shipping
                            <span class="price">
                                $<output name="shipping" id="shipping">{{ shipping }}</output>
                            </span>
                        </p>
                        <p>
                            Discount&nbsp;<output name="discount_percent" id="discount_percent">{{ discount_percent }}</output>%
                            <span class="price">
                                -$<output name="discount_total" id="discount_total">{{ discount_total }}</output>
                            </span>
                        </p>
                        <p>
                            VAT 13%
                            <span class="price">
                                $<output name="vat" id="vat">{{ vat }}</output>
                            </span>
                        </p>
                        <hr>
                        <p>
                            Total
                            <span class="price" style="color:black">
                                <b>$<output name="total" id="total">{{ result }}</output></b>
                            </span>
                        </p>
                        <div class="col-50">
                            <h4>Select Shipping Method
                            <span class="price" style="color:black">
                            </span>
                            </h4>
                            <input type="radio" name="radio-shipping" value="0" id="standard" checked="checked"
                                   onclick="click_modify()">Standard Shipping <br>
                            <input type="radio" name="radio-shipping" value="5" id="expedited"
                                   onclick="click_modify()">Expedited Shipping <br>
                            <input type="radio" name="radio-shipping" value="10" id="express"
                                   onclick="click_modify()">Express Shipping <br>
                            <br>
                            <hr>
                            <h4>Discount Code</h4>
                        </div>
                    </form>
                    <div class="col-50">
                        <form method="POST" action="/discount">
                            <input type="text" id="discount_code" name="discount_code">
                            <div class="col-25">
                                <input type="submit" id="discount-btn" value="Apply" class="apply">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <label for="firstname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Sunghyun Cho">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="roy.cho@mail.utoronto.ca">
                        <label for="address"><i class="fa fa-address-card-o"></i> Address</label>
                        <input type="text" id="address" name="address" placeholder="27 King's College Cir">
                        <label for="city"><i class="fa fa-institution"></i> City</label>
                        <input type="text" id="city" name="city" placeholder="Toronto">

                        <div class="row-back">
                            <div class="col-50">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="ON">
                            </div>
                            <div class="col-50">
                                <label for="postal code">Postal Code</label>
                                <input type="text" id="postal code" name="postal code" placeholder="M5T 3J1">
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        </div>
                        <label for="cardname">Name on Card</label>
                        <input type="text" id="cardname" name="cardname" placeholder="Sunghyun Cho">
                        <label for="cardnumber">Card Number</label>
                        <input type="text" id="cardnumber" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Exp Month</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="September">

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2020">
                            </div>
                        <div class="col-50">
                            <label for="cvv">CVV</label>
                            <input type="text" id="cvv" name="cvv" placeholder="123">
                        </div>
                    </div>
                </div>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="check"> Shipping address same as billing
            </label>
                <form method="POST" action="/checkout">
                    <input type="submit" value="Continue to checkout" class="btn">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>